---
export interface Props {
  title: string;
}
// import {pwaInfo} from "virtual:pwa-info";

const {title} = Astro.props;
// import "video.js/dist/video-js.css";

import "../global.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- <link
      href="https://unpkg.com/video.js@7/dist/video-js.min.css"
      rel="stylesheet"
    /> -->
    <link href="https://vjs.zencdn.net/8.0.4/video-js.css" rel="stylesheet" />
    <script src="https://vjs.zencdn.net/8.0.4/video.min.js"></script>

    <script src="/src/pwa.ts"></script>

    <!-- {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />} -->
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
